body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
    color: hsl(0, 0%, 59%);
}
.logo{
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-weight: 300;
}
.bold{
    color: black;
}
.email{
    height: 40px;
    width: 300px;
    color:#dee2e6;
    display:inline-block;
    margin-right: 10px;
}
.button{
    height: 40px;
    -webkit-box-shadow: 0px 4px 22px 0px rgba(23,162,184,0.4);
    -moz-box-shadow: 0px 4px 22px 0px rgba(23,162,184,0.4);
    box-shadow: 0px 4px 22px 0px rgba(23,162,184,0.4);
}
.button:hover{
    background-color: #17a2b8;
    border-color: #17a2b8;
}